spring.application.name=demo

# Replace with your PostgreSQL connection details
spring.datasource.url=jdbc:postgresql://<host>:5432/<database>?ssl=true&sslmode=require
spring.datasource.username=<username>
spring.datasource.password=<password>
spring.datasource.driver-class-name=org.postgresql.Driver

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
server.port=8081
